<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <connectionStrings>
    <add name="SqlServerConnection" connectionString="Data Source=120.27.27.115;Initial Catalog=ScoreManage;User ID=sa;Password=antadmin@123;" providerName="System.Data.SqlClient" />
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.213) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME= tomorrow)));Persist Security Info=True;User ID=dapper;Password=123;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="MysqlConnection" connectionString="Server=192.168.1.112;Port=3306;Database=crm;Uid=root;Pwd=123456;Charset=utf8;Convert Zero Datetime=True;allow zero datetime=true" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SaveBasePath" value="D:\\uploads\\"/>
    <add key="Exp" value="Exp"/><!--Exp变量名 -->
    <!--SMTP SERVER -->
    <add key="SMTP_SERVER" value="smtp.qq.com" />
    <!--SMTP USER -->
    <add key="SMTP_USER" value="17244589661@qq.com" />
    <!--SMTP PASSWORD -->
    <add key="SMTP_PASSWORD" value="jundong88" />
    <!--样式引用地址 -->
    <add key="StyleReference" value="Content_V1.1" />
    <!--脚本引用地址 -->
    <add key="ScriptReference" value="Scripts_V1.1" />
    <!--后台页面分页每页条数 -->
    <add key="ItemsPerPage" value="20" />
    <!--弹床页面分页每页条数 -->
    <add key="DialogPerPage" value="10" />
    <!-- 资源服务器地址-->
    <add key="ResourceServer" value="http://localhost:56269/" />
    <!--是否记录日志 -->
    <add key="IsLog" value="true" />
    <!--文件服务器地址-->
    <add key="ImageServer" value="http://localhost:56269/" />
    <!--管理员Token 凭借该令牌可以直接访问后台页面 -->
    <add key="AdminToken" value="f9556e689ebfb4ef60efd7e8b9415dc4" />
    <!--平台id-->
    <add key="PlatformId" value="3009" />
    <!--是否使用静态页面-->
    <add key="IsStatic" value="1" />
    <!--Token-->
    <add key="Token" value="zhaowj2014" />
    <!--AppId-->
    <add key="AppId" value="wxeef8ec1c7168d464" />
    <!--AppSecret-->
    <add key="AppSecret" value="2165baec895af29a4c08c4fa4a5079e0" />
    <!--密钥-->
    <add key="Md5key" value="abcdefg"/>
    <!--终端 ID-->
    <add key="TerminalID" value="10000001"/>
    <!--接口版本 固定值为4.0-->
    <add key="InterfaceVersion" value="4.0"/>
    <!--加密类型 固定值为1-->
    <add key="KeyType" value="1"/>
    <!--代理登录地址 -->
    <add key="IBLoginUrl" value="http://ib.westffs.com/"/>
    <!--客户登录地址 -->
    <add key="CusLoginUrl" value="http://user.udea.tech/web/public/login"/>
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="/Home/Public/Exception">
      <error statusCode="404" redirect="/Home/Public/Exception" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="40960" />
    </authentication>
    <httpRuntime maxRequestLength="40960" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://um.macmagnus.org/WebService/User.asmx" binding="basicHttpBinding" bindingConfiguration="UserSoap" contract="UMService.UserSoap" name="UserSoap" />
    </client>
  </system.serviceModel>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" /> 
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>

</configuration>