
.btn{ padding-top: 50px;}
.btn i{ padding-right: 50px;color: #e75454;font-size: 16px;}
.cb{height: 30px; line-height: 30px;}
.cd{height: 30px; line-height: 30px; color: #8c26c7}
.dp{border: 1px solid #b2b2b2;width: 80px;}
.bw{border: 1px solid #b2b2b2; width: 80px}


