@{
    ViewBag.Title = "登陆超时,请重新登陆";
    Layout = null;
}
<html>
<head>
    @MT.Common.ResourceHelper.CreateStyleResourceUrl("Admin", new[] { "common", "backstage" })
</head>
<body>
    <div class="m-opersf f-cb">
        <dl>
            <dt class="ico-fail"></dt>
            <dd>
                <h1 class="z-err">
                    登陆超时,请重新登陆</h1>
                <p>
                    将在<em class="z-err">@(int.Parse(ViewData["time"].ToString()))</em>秒后自动跳转，若不想等待，请<a href="javascript:void(0);" onclick="top.location.href='/Admin/Public/Login';">点击此处</a>跳转</p>
                <p>
                    <i class="z-err"></i>
                </p>
            </dd>
        </dl>
    </div>
    <script type="text/javascript">
        setTimeout(function () {
            top.location.href = '/Admin/Public/Login';
        }, parseInt('@ViewData["time"].ToString()') * 1000);
    </script>
</body>
</html>