@using MT.Common
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAjaxEdit.cshtml";
}
@section head{
}
<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="larry-personal-body clearfix">
            <input type="hidden" id="lang" value="@MTConfig.UserLang" />
            @using (Html.BeginForm("UpdatePassword", "Public"))
            {
                <div class="layui-field-box">
                    <div class="layui-form-item">
                        @{
                            if (MTConfig.UserLang == "En")
                            {
                                <label class="layui-form-label" style="width: 140px">Old Password:</label>
                            }
                            else
                            {
                                <label class="layui-form-label" style="width: 140px">旧密码:</label>
                            }
                        }

                        <div class="layui-input-inline">
                            <input type="password" name="oldPwd" class="layui-input f-fl" autocomplete="new-password" />
                        </div>

                    </div>
                    <div class="layui-form-item">

                        @{
                            if (MTConfig.UserLang == "En")
                            {
                                <label class="layui-form-label" style="width: 140px">New Password:</label>
                            }
                            else
                            {
                                <label class="layui-form-label" style="width: 140px">新密码:</label>
                            }
                        }
                        <div class="layui-input-inline">
                            <input type="password" class="layui-input f-fl" style="" name="newPwd" lay-verify="required" id="pass1" autocomplete="new-password" />
                        </div>

                    </div>
                    <div class="layui-form-item">

                        @{
                            if (MTConfig.UserLang == "En")
                            {
                                <label class="layui-form-label" style="width: 140px">Confirm Password:</label>
                            }
                            else
                            {
                                <label class="layui-form-label" style="width: 140px">确认新密码:</label>
                            }
                        }
                        <div class="layui-input-inline">
                            <input type="password" class="layui-input f-fl" style="" name="new2Pwd" lay-verify="required" id="pass2" autocomplete="new-password" />
                        </div>

                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        @{
                            if (MTConfig.UserLang == "En")
                            {
                                <input type="button" value="Save" onclick="UpPwd()" class="layui-btn" />
                            }
                            else
                            {
                                <input type="button" value="保存" onclick="UpPwd()" class="layui-btn" />
                            }
                        }

                    </div>
                </div>

                            }
        </div>
    </div>
</section>
@section foot{
    <script type="text/javascript">


        function UpPwd(url) {
            var userlang = $("#lang").val();
            // 两次密码是否一致
            if ($("#pass1").val() != $("#pass2").val()) {

                var msgTit = "";
                if (userlang == "En") {
                    msgTit = "Two passwords are inconsistent";

                } else {
                    msgTit = "两次密码不一致";
                }
                layer.msg(msgTit);
                return false;
            }

            //密码中必须包含数字和字母
            if (CheckPassWord($("#pass1").val()) == false || CheckPassWord($("#pass2").val()) == false) {

                var msgTit = "";
                if (userlang == "En") {
                    msgTit = "The 6-20 password must contain numbers and letters";

                } else {
                    msgTit = "6-20密码必须包含数字和字母";
                }
                layer.msg(msgTit);
                return false;
            }
            if (lock) return;
            lock = true;
            if (!url) {
                url = '/Web/Public/Index';
            }

            //loading层
            //var index = layer.load(1, {
            //    shade: [0.5, '#000'] //0.1透明度的白色背景
            //});
            $.ajax({
                url: "/Web/Public/UpdatePassword",
                type: "POST",
                data: $("form").serialize(),
                success: function (data) {
                    lock = false;
                    if (data.status == 1) {
                        layer.open({
                            content: data.msg,
                            yes: function (index, layero) {
                                top.location.href = url;
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                            }
                        });
                    } else {
                        lock = false;
                        layer.closeAll("loading");

                        layer.open({
                            content: data.msg
                        });
                    }
                },
                error: function () {
                    layer.closeAll("loading");
                    layer.msg(data.msg);
                    lock = false;
                }
            });
        }
        function CheckPassWord(password) {

            if (password == null || password.length < 5 || password.length > 21) {

                return false;
            }

            if (password.match(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/)) {

                return true;
            } else {

                return false;
            }

        }
    </script>

}