@model MT.Models.UserModel
@using MT.Common

@{
    ViewBag.Title = "添加";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
    RouteValueDictionary vs = ViewContext.RouteData.Values;
}


@section head{
}

<div class="m-content">
    <div class="m-form f-cb">
        @Html.RenderNavHtml()
        @using (Html.BeginForm(actionName:"UpdatePas",controllerName:"User"))
        {
            <dl class="f-cb">
                <dt>当前密码:</dt>
                <dd>
                     <input type="text" name="pass" />
                </dd>
                <dt>新密码:</dt>
                <dd>
                    <input type="text" name="pass1"  id ="pass1"/>
                </dd>
                <dt>确认新密码:</dt>
                <dd>
                <input type="text" name="pass2" id="pass2" />
                </dd>
                <dt></dt>
                <dd>
                    
                    <input type="button" value="返回" class="u-btnblue marl10" onclick="location.href='/Admin/@vs["controller"].ToString()/Index';" />
                </dd>
            </dl>
        }
    </div>
</div>

@section foot{
    <script type="text/javascript">
        function uploadFile(){
            if ($("#pass1").val() != $("#pass2").val()) {
                alert("新密码不一致，请重新输入！");
                return false;
            }
        }
    </script>
}


