@{
    ViewBag.Title = "Index";
    string msg =ViewBag.msg;
}

<div class="ts_div">
        <div class="icobg ico-close2 f-fr mart10 marr10" ></div>
        <div class="icobg ico-error f-cb ts_marg"  ></div>
        <div class="ts_tip">fsafdsafdasfdsafds</div>
</div>
